
<h4>Mi cuenta</h4>
<section>
    <div class="nombre">
        <h5>Mis Direcciones</h5>
    </div>
    <div class="menu">   
        <a>
            <img  src="/assets/icons/house-door.svg" alt=""/>
            <div class="address">
                <h5>Calle y Numero</h5>
                <p>Código Postal ** - *Estado* - *City*</p>
                <p>*Nombre y apellido* - *telefono*</p>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
        <a routerLink="/newAddress">
            <img src="/assets/icons/location.svg" alt="">
            <div class="menu-text">
                <h5>Agregar nueva dirección</h5>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
    </div>
</section>