
<h4>Mi cuenta</h4>
<section>
    <div class="nombre">
        <h5>Mis Direcciones</h5>
    </div>
    <div class="menu">   
        <div class="existing-addresses">
            <img  class="houseicon" src="/assets/icons/house-fill.svg" alt="">
            <div>
                <h5>Juarez 17</h5>
            </div>
            <div>
                Codigo Postal: 12345 - Puebla - Huauchinango
            </div>
            <div>
                Ariel Alonso Pola Marquez - 7761288164
            </div>
        </div> 
        <a routerLink="/newAddress">
            <img src="/assets/icons/person-fill-gear.svg" alt="">
            <div class="menu-text">
                <h5>Agregar nueva dirección</h5>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
    </div>
</section>