<h4>Producto</h4>
<div class="product">
    <div class="input-grupo">
        <label for="product">Producto</label>
        <input type="text" id="product" placeholder="Nombre del producto"/>
    </div>
    
    <div class="input-grupo">
        <label for="price">Precio</label>
        <input type="number" id="price" placeholder="Precio del producto"/>
    </div>

    <div class="input-grupo">
        <label for="stock">Stock</label>
        <input type="number" id="stock" placeholder="Stock del producto"/>    
    </div>
    
    <div class="input-grupo">
        <label for="stock_min">Stock Mínimo</label>
        <input type="number" id="stock_min" placeholder="Stock mínimo del producto" />    
    </div>

    <div class="input-grupo">
        <label for="category">Categoría</label>
        <input type="text" id="category" placeholder="Categoría del producto" />    
    </div>

    <div class="input-grupo">
        <label for="description">Descripción</label>
        <textarea id="description" placeholder="Descripción del producto"></textarea>    
    </div>

    <div class="input-grupo">
        <label for="image_url">Imagen</label>
        <input type="text" id="image_url" placeholder="URL de la imagen del producto" />    
    </div>

    <div class="input-grupo">
        <label for="is_active">¿El producto está activo?</label>
        <input type="checkbox" id="is_active" -/>
    </div>
</div>

<div class="guardar">
    <button type="button" class="btn btn-primary">Guardar</button>
</div>
