<h4>Mi cuenta</h4>
<section>
    <div class="nombre">
        <h5>nombre completo</h5>
        <p>Correo</p>
    </div>
    <div class="menu">
        <a routerLink="/accountdetail">
            <img src="/assets/icons/person-fill-gear.svg" alt="">
            <div class="menu-text">
                <h5>Modificar contraseña</h5>
                <p>Contraseña actual</p> 
                <input type="text" placeholder="**********" class="input-password">
                <p>Contraseña nueva</p>
                <input type="text" placeholder="**********" class="input-password">
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
    </div>
</section>