<div class="Carrusel">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1732153593/Title_qgvwqx.png"class="superposed-image">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1732138333/home_tvjcrx.png"
              class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1732138333/home3_brtol2.png"
              class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1732138334/home2_cqyxe1.png"
              class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="https://res.cloudinary.com/dexasecyo/image/upload/v1732138333/home4_v9x40u.png"
              class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="categoria p-4">
    <h4>Categorias</h4>
    <div>
        <app-category></app-category>
    </div>
</div>
<div class="destacados w-100">
    <h3>Lo Mas Destacado</h3>
    <div class="cards-destacadas">
        <app-card-pan *ngFor="let product of getAllFeaturedProductsList" [product]="product"></app-card-pan>
    </div>    
</div>
<div class="donas">
    <img src="/assets/Logo.png" width="50%"/>
    <p>El toque de sabor que le hace falta a tu día</p>
</div>

<div class="text-panaderia">
    <div class="text-bread">
        <p class="ms-4">Desde 2024 endulzamos tus momentos más especiales</p>
        <hr>
    </div>
    <div class="text-image">
        <img src="/assets/home/panaderia.png" alt="">
        <p class="p-4">Nuestra pasión por la repostería nos ha inspirado a hornear el mejor pan, crear pasteles únicos, servir el mejor café pero sobre todo a reinventarnos e innovar todos los días.</p>
    </div>
</div>

<div class="galeria p-4">
    <h4>Galería</h4>
</div>

<div class="mas-productos">
    <h4>Más Producto</h4>
    <div class="mas-pan">
      <app-card-pan *ngFor="let product of getAllFeaturedProductsList" [product]="product"></app-card-pan>
    </div>
    <button class="btn-secondary mt-5" type="button" routerLink="/products/all">Ver Mas</button>
</div>
