<div class="cards-category">
    <a class="card-category" routerLink="/products/all">
        <img src="/assets/home/category/Todos.png" width="200px">
        <p>Todos</p>
    </a>
    <a class="card-category" routerLink="/products/Dulce">
        <img src="/assets/home/category/Dulce.png" width="200px">
        <p>Pan Dulce</p>
    </a>
    <a class="card-category" routerLink="/products/Integral">
        <img src="/assets/home/category/Integral.png" width="200px">
        <p>Pan Integral</p>
    </a>
    <a class="card-category" routerLink="/products/Salado">
        <img src="/assets/home/category/Salado.png" width="200px">
        <p>Pan Salado</p>
    </a>
    <a class="card-category" routerLink="/products/Tradicional">
        <img src="/assets/home/category/Tradicional.png" width="200px">

        <p>Pan Tradicional</p>
    </a>
</div>

