<div class="cards-category">
    <a class="card-category">
        <img src="/assets/home/category/Dulce.png">
        <p>Pan Dulce</p>
    </a>
    <a class="card-category">
        <img src="/assets/home/category/Integral.png">
        <p>Pan Integral</p>
    </a>
    <a class="card-category">
        <img src="/assets/home/category/Salado.png">
        <p>Pan Salado</p>
    </a>
    <a class="card-category">
        <img src="/assets/home/category/Tradicional.png">
        <p>Pan Tradicional</p>
    </a>
</div>

