<main>
  <nav class="navbar">
    <div class="d-flex w-100 ps-4 pe-4">
        <div class="logo col">
            <img routerLink="/" src="assets/Logo.png"/>
        </div>
        <div class="menu col d-flex gap-5 text-center align-items-center">
          <a routerLink="/">Home</a>
          <a routerLink="/us">Nosotros</a>
          <a routerLink="/contact">Contacto</a>
        </div>
        <div class="icons col d-flex align-items-center">
          <div class="search align-items-center">
            <input type="text"/>
            <img class="btn-primary" src="assets/icons/search.svg"/>
          </div>
          <div class="user d-flex gap-2 align-items-center " >
            <a href="/login">
              <img src="assets/icons/user.svg"/>
            </a>
            <p>¡Hola Invitado!</p>
          </div>
          <img src="assets/icons/cart3.svg"/>
          <button type="button">
            <img src="assets/icons/list.svg">
          </button>
        </div>
    </div>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>

  <footer>
    <div class="logo-footer">
      <img src="assets/Logo.png" width="50%"/>
    </div>
    <div class="social-media">
      <a><img src="/assets/icons/social-media/whatsapp.svg"></a>
      <a><img src="/assets/icons/social-media/facebook.svg"></a>
      <a><img src="/assets/icons/social-media/instagram.svg"></a>
    </div>
  </footer>
</main>