.card-bread{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px #082327;
}
.image-bread img{
    padding-top: 1rem;
    width: 100%;
}
.tooltip-container .icon-info{
    float: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
    width: 3rem;
}


.name-bread {
    word-wrap: break-word; 
    white-space: normal;  
}

.shopping-bread button{
    background-color: var(--secondary-color);
    border: none;
    border-radius: 1rem;
    padding: 0 15px 0 15px;
}

.info-bread .price-bread{
    font-size: xx-large;
}
.info-bread{
    font-size: x-large;
    padding: 0rem 1rem 1rem 1rem;
}
.card-bread:hover{
    transform: scale(1.05);
    transition:ease-in-out;
}
.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 200px; /* Puedes ajustar el tamaño */
    background-color: var(--secondary-color);
    color: var(--background_navBar);
    text-align: center;
    padding: 5px;
    border-radius: 8px;
  
    /* Posición */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Arriba del icono */
    left: 50%;
    transform: translateX(-50%);
  
    /* Animación suave */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

@media screen and (max-width: 600px) {
    .card-bread{
        width: 150px;
    }
    .info-bread .price-bread{
        font-size: medium;
    }
    .info-bread{
        font-size: large;
    }
    .icon-info{
        overflow: visible;
        display: none;
        visibility: visible;
    }
    .name-bread{
        font-size: small;
    }
    .shopping-bread button img{
        width: 60%;
    }
    .shopping-bread button{
        padding: 0 10   px 0 10px;
    }
}