<h4>Administrador</h4>
<div class="menu">
   <a routerLink="/inventory">
        <img src="/assets/icons/admin/archive.svg" alt="">
        <div class="menu-text">
            <h5>Inventario</h5>
            <p>Gestion y Control de los Productos</p>
        </div>
        <img src="/assets/icons/arrow.svg" alt="">
   </a> 
    <a routerLink="">
        <img src="/assets/icons/admin/coins-solid.svg" alt="">
        <div class="menu-text">
            <h5>Ventas</h5>
            <p>Gestion y Control de las Ventas</p>
        </div>
        <img src="/assets/icons/arrow.svg" alt="">
    </a> 
    <a routerLink="">
        <img src="/assets/icons/admin/cash-register.svg" alt="">
        <div class="menu-text">
            <h5>Corte de Caja</h5>
            <p>Corte de Caja</p>
        </div>
        <img src="/assets/icons/arrow.svg" alt="">
    </a> 
    <a routerLink="">
        <img src="/assets/icons/admin/people-fill.svg" alt="">
        <div class="menu-text">
            <h5>Usuarios</h5>
            <p>Gestion y Control de los Usuarios</p>
        </div>
        <img src="/assets/icons/arrow.svg" alt="">
    </a> 
</div>
<div class="logout">
    <button class="btn btn-danger" (click)="logout()"><i class="bi bi-box-arrow-right"></i> Cerrar Sesion</button>
</div>
