<h4>Mi cuenta</h4>
<section>
    <div class="nombre">
        <h5>nombre completo</h5>
        <p>Correo</p>
    </div>
    <div class="menu">    
        <a routerLink="/accountdetail"> 
            <img src="/assets/icons/person-fill-gear.svg" alt="">
            <div class="menu-text">
                <h5>Detalles de cuenta</h5>
                <p>Cambiar contraseña</p>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
        <a routerLink="/purchases">
            <img src="/assets/icons/bag-fill.svg" alt="">
            <div class="menu-text">
                <h5>Compras</h5>
                <p>Adminstrar mis compras</p>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>
        <a routerLink="/address">
            <img src="/assets/icons/house-fill.svg" alt="">
            <div class="menu-text">
                <h5>Direcciones</h5>
                <p>Configurar direcciones</p>
            </div>
            <img src="/assets/icons/arrow.svg" alt="">
        </a>

    </div>
</section>