<div class="us-img mb-5">
    <img src="assets/us/Nosotros.png" width="100%">
    <h2>Nosotros</h2>
</div>
<div class="us-text">
    <p>¡Bienvenidos a Panadería de Pan! Soy Lucía un aficionada
         a la panadería artesanal que decidió convertir su sueño en realidad. 
         Después de meses de preparación, abrimos nuestras puertas con la misión de ofrecer pan fresco y delicioso a nuestra comunidad. Cada producto que hacemos lleva nuestro amor y dedicación.</p>
    <img src="/assets/us/panaderia-us.png">
</div>
<p> ¡Gracias por ser parte de nuestra historia desde el principio!</p>
